{% extends 'base.html' %}
{% block title %}{{instructor['full_name']}} | Profile{% endblock %}

{% block content %}

  <div class='title-and-actions mt-3'>
	  <h1 class='mt-3'>{{instructor['full_name']}}</h1>
  </div>
  <hr/>
  <p><strong>UNI: </strong> {{instructor['uni']}}</p>
  <p>
    <strong>Courses taught: </strong>
    {% for course in courses: %}
      <span class='badge badge-primary'>{{course}}</span>
      <!--TODO: decide what course info to add, or if they're just links to 
                corresponding course pages-->
    {% endfor %}
  </p>

  <p>
    <strong>Reviews: </strong>
    {% for review in reviews: %}
    <ul>
      <li>{{review}}</li>
    </ul>
      <!--TODO: decide if we need any more info-->
    {% endfor %}
  </p>


{% endblock %}
